.container {
  display: flex;
  background-color: rgb(247, 247, 142);
  align-items: center;
  justify-content: start;
  list-style: none;
  height: 400px;
  padding: 0%;
}

.item {
  background-color: rgb(243, 135, 243);
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
